/* EACH POST ITEM */

.post {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 8% auto;
    padding-left: 1em;
    padding-top: 1.5em;
    border-bottom: 1px solid rgb(189, 186, 186);
  }
.single_post {
  display: grid;
  grid-template-columns: 8% auto;
  /* border-bottom: 1px solid rgb(189, 186, 186); */
}
  
.imgContainer {

}

.imgContainer > img {
  background-color: rgb(31, 29, 29);
  height: 2.9em;
  overflow: hidden;
  width: 2.9em;
  border-radius: 50%;
  border: 2px solid #06c706;
}

.postDetails {
    /* background-color: red; */
    padding-left: 0.5em;
}
  
  .singlePostDetails {
    padding-left: 1.1em;
  }

  .postDetails > a > p, .singlePostDetails > a > p {
    margin-top: 0;
    /* max-width: 32em; */
    max-width: 85%;
  }
  
  .postDetails > a > p > span, .singlePostDetails > a > p > span {
    color: rgb(20, 211, 20);
    font-style: italic;
  }

.postDetails hr, .singlePostDetails hr {
    margin-right: 10%;
    /* width: 85%; */
    border: 1px solid rgb(94, 92, 92);
    
}

.icons > svg, .icons > a > svg {
    margin-right: 2em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    fill: white;
    /* fill: red; */ 
}

.icons > svg:hover, .icons > a >svg:hover {
    fill: red;
    /* background-color: red */
    /* color: blue */
}

@media screen and (max-width: 780px) {
  .post {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 14% auto;
  } 
  .postDetails {
    /* background-color: red; */
    margin-left: 0.1em;
  }
  .postDetails > a > p {
    margin-top: 0;
    /* max-width: 32em; */
    max-width: 91%;
  }

  .postDetails hr {
    margin-right: 10%;
    /* width: 85%; */
    border: 1px solid rgb(94, 92, 92);
    
  }
}

@media screen and (max-width: 350px) {
  .singlePostDetails {
    /* background-color: red; */
    padding-left: 2em;
  }

  .postDetails {
    padding-right: 0.5em;
    margin-left: 1em;
  }
}