@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  margin: 0;
  background-color: rgb(31, 29, 29);
  color: white;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Work Sans';
}

h1 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.profileComponent, .searchComponent, .home-page {
  padding-top: 2em;
}

.home-page {
  border-left: 1px solid rgb(189, 186, 186);
  border-right: 1px solid rgb(189, 186, 186);
  display: flex;
  flex-direction: column;
  text-align: left;
  /* padding-left: 1em; */
    position: relative;
}


.postItem {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 8% auto;
  padding-left: 1em;
  padding-top: 1.5em;
  border-bottom: 1px solid rgb(189, 186, 186);
}

.imgContainer {
  background-color: gray;
  height: 2.4em;
  width: 2.4em;
  border-radius: 50%;
}

.postDetails {
  /* background-color: red; */
}

.postDetails > p {
  margin-top: 0;
  max-width: 32em;
}

.postDetails > p > span {
  color: green;
  font-style: italic;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(31,29, 29) inset !important;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: white;
}

.searchpage {
  padding-right: unset;
  margin-right: unset;
}

.modal {
  background-color: red;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  /* scale: 0.5; */
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 10px;
  left: 37px;
  width: 5px;
  height: 15px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 980px) {
  .searchComponent {
    display: none;
  }

  .home-page, .signup-page {
    margin-right: 1em;
  }
}

@media screen and (max-width: 780px) {

  /* .searchComponent {
    display: none;
    /* background-color: red; *
  } */
  .profileComponent {
    display: none;
  }

  .home-page, .signup-page {
    border-left: unset;
    margin-right: 0em;
    padding-bottom: 4em;
  }

  #open {
    /* background-color: red; */
    display: flex;
  }
  .profileComponent, .searchComponent, .home-page {
    padding-top: unset;
  }
    
  #close {
    display: none;
  }
  
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
